- if ENV['DEBUGGING'] == 'true'
  %pre= @lesson_attempt.inspect

  %pre= @page_element.inspect

  %pre= @page_element.pageable.inspect

  %pre= @position

%h3= @lesson_attempt.lesson.name
  
= render :partial => "lti/#{@page_element.pageable.class.to_s.tableize}/show", :locals => { :pageable => @page_element.pageable, :lesson_attempt => @lesson_attempt }

%hr
%span#nav_button
  - if @previous_page_element
    = link_to "Previous Item", lti_show_lesson_attempt_page_element_path(@lesson_attempt, @previous_page_element), :class => "btn"

  - if @next_page_element
    = link_to "Next Item", lti_show_lesson_attempt_page_element_path(@lesson_attempt, @next_page_element), :class => "btn"
