= form_for @page_element do |f|
  - if @page_element.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page_element.errors.count, "error")} prohibited this page_element from being saved:"
      %ul
        - @page_element.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :page
    = f.text_field :page
  .actions
    = f.submit 'Save'
