%p#notice= notice

%p
  %b Lesson:
  = @page_element.lesson.full_name

%p
  %b Page:
  = @page_element.page.id

%p
  %b Type:
  = @page_element.pageable.class

%p
  %b Title:
  = @page_element.pageable.title

%p
  %b Content:
  = @page_element.pageable.content.html_safe

= link_to 'Edit', edit_page_element_path(@page_element)
\|
= link_to 'Back', page_elements_path
