%p#notice= notice

%p
  %b Lesson: #{link_to @question.lesson.name, @question.lesson}
%p
  %b Page: #{link_to @question.page.id, @question.page}
%p
  %b.u= @question.title
%p
  %b= @question.content.html_safe

%hr



#recordingControls
  %b Record a response
  %button.btn.btn-danger{:onclick => "startRecording(this)"}Record
  %button.btn{:onclick => "stopRecording(this)", :disabled => true}Stop

%h2 Log
%pre{:id => 'log'}

%h2 Recordings
%ul{:id => 'recordingslist'}
