!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'Language Lesson'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Language Lesson'}"}
    = include_gon
    :javascript
      (function(d) {
        var config = {
        kitId: 'mvx8fwb',
        scriptTimeout: 3000
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(
      /\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement(
      "script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";
      tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadyst
      atechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;
      f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false
    = javascript_include_tag "backbone_base", "data-turbolinks-track" => false
    = javascript_include_tag "#{params[:controller]}_#{params[:action]}"
    = csrf_meta_tags
  %body{'data-grid-framework' => 'b3'}
    %main{:role => "main"}= yield
